# source
git /extensions/AccelerationStructures    https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/AccelerationStructures    git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
