# source
darcs /extensions/AccelerationStructures    http://openengine.dk/code/extensions/AccelerationStructures
darcs-dev /extensions/AccelerationStructures    fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
